@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    
    box-sizing: border-box;
}

.negrita{
    color: blue;
}

.presentacion{
    display: flex;
    align-items: center;
    margin:10% 15%;
    justify-content: space-between;
}

.presentacion_contenido{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-size: 36px;
    font-family: "Krona One", serif;
    font-weight: 400;
    font-style: normal;
}

.presentacion_contenido_texto{
    font-size: 24px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto; 
    font-style: normal;
}

.presentacion_enlace{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.presentacion_enlace_link{
    width: 280px;
    background-color: aquamarine;
    text-align: center;
    padding: 22.5 px 0;
    border-radius: 16px;
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 600px;
    text-decoration: none;
    color: black;
    border: 2px solid #226ef2;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion_enlace_titulo{
    font-size: 26px;
    font-family: "Krona One", serif;
    font-weight: 400;
    font-style: normal;
    
}

.presentacion_enlace_link:hover{
    background-color: #272727;
}

.pie{
    background-color: #226ef2;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 600px;
}

.cabeza{
    padding: 2% 0% 0% 15%;
    

}

.cabeza_menu{
    display: flex;
    gap: 80px;
    
}
.cabeza_menu_enlace{
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 600px;
    text-decoration: none;
}